html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.panels {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0;
}

#left {
  width: 20%;
  margin: 0;
  padding: 0 auto;
  text-align: center;
  align-items: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: black;
}

#right {
  width: 20%;
  margin: 0;
  padding: 0 auto;
  text-align: center;
  align-items: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: black;
}

#middle {
  width: 100%;
  /* height: 100%; */
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-grow: 10;
  background-color: pink;
}

#spooner {
  display: block;
  flex-basis: 2;
  margin: 0;
}

h4 {
padding: 2px;
margin: 0;
}

h5 {
  margin: 0;
}

code {
  background-color: black;
  border-radius: 5%;
  padding: 10px;
  height:20%;
  color: white;
  width: 80%;
}

section {
  height: 33%;
  border: 2px solid black;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: grey;

}



.condition-input {
  background-color: red;
}
.red {
  color: rgb(255,0,200);
}

.condition-output {
  background-color: blue;
}

.blue {
  color: rgb(100,0,255);
}

.input {
  width: 80%;
  margin: 5px;
}

.output {
  width: 80%;
  margin: 5px;
}

.amount {
  display: block;
}


p {
  display: block;
  margin: 0;
  width: 80%;
  /* font-weight: bold; */
}

