html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.panels {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0;
}

#left {
  width: 20%;
  margin: 0;
  padding: 0 auto;
  text-align: center;
  align-items: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: black;
}

#right {
  width: 20%;
  margin: 0;
  padding: 0 auto;
  text-align: center;
  align-items: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: black;
}

#middle {
  width: 100%;
  /* height: 100%; */
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-grow: 10;
  background-color: pink;
}

#spooner {
  display: block;
  flex-basis: 2;
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

code {
  background-color: lightgrey;
  border-radius: 10%;
}

section {
  height: 33%;
  border: 2px solid black;
  border-radius: 10%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.input {
  margin: 0;
}

.output {
  margin: 0;
}

.red {
  color: red;
}

p {
  margin-bottom: 0;
  font-weight: bold;
}

.blue {
  color: blue;
}
